[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

django = "*"
gunicorn = "*"
"psycopg2" = "*"
django-environ = "*"
gevent = "*"
whitenoise = "*"
raven = "*"


[dev-packages]

werkzeug = "*"
django-debug-toolbar = "*"
ipdb = "*"
pytest = "*"
pytest-django = "*"
django-extensions = "*"
pytest-isort = "*"
pytest-sugar = "*"
coverage = "*"
django-coverage-plugin = "*"
pytest-cov = "*"
codecov = "*"
